@import '../base/base-styles';

body {
  background-image: url('../../../assets/pictures/bg-temple.jpg');
}

form {
  @include flex-col;
  gap: 20px;
  width: 500px;
  padding: 20px 80px;
  background-color: $charcoal;
  border: 2px solid #444;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

  @media screen and (max-width: 800px) {
    width: 70%;
    padding: 15px 60px;
  }

  @media screen and (max-width: 450px) {
    width: 90%;
    padding: 10px 40px;
  }

  @media screen and (max-width: 410px) {
    padding: 7px 28px;
  }

  @media screen and (max-width: 310px) {
    padding: 5px 20px;
  }
}

.form-bottom-text-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px 8px;

  @media screen and (max-width: 450px) {
    padding: 4px 2px;
  }
}

.form-bottom-buttons-container {
  @include flex-col;
  margin-top: 40px;

  @media screen and (max-width: 800px) {
    margin-top: 35px;
  }

  @media screen and (max-width: 450px) {
    margin-top: 30px;
  }

  @media screen and (max-width: 350px) {
    margin-top: 25px;
  }
}

.submit-button {
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  padding: 14px 20px;
  width: 100%;
  color: $charcoal;
  background-color: $white-cream;
  border: 2px solid $charcoal;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  user-select: none;
  cursor: pointer;

  &:hover {
    background-color: $hover-darker-charcoal;
    color: $white-cream;
  }

  @media screen and (max-width: 800px) {
    font-size: 1em;
  }

  @media screen and (max-width: 450px) {
    font-size: 0.8em;
  }

  @media screen and (max-width: 350px) {
    font-size: 0.73em;
  }
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 0;
  border: 3px solid $charcoal;
  border-radius: 5px;
  box-sizing: border-box;

  &:hover {
    opacity: 0.9;
  }
}

.input-label {
  font-size: 1.2em;
  color: $white-cream;
  margin: 0;
  user-select: none;

  @media screen and (max-width: 800px) {
    font-size: 1em;
  }

  @media screen and (max-width: 450px) {
    font-size: 0.8em;
  }

  @media screen and (max-width: 350px) {
    font-size: 0.73em;
  }
}

.input-wrapper {
  @include flex-col;
  gap: 6px;
}

.form-bottom-text {
  color: $white-cream;
  font-weight: 500;
  font-size: 0.9em;
  padding: 0 8px;
  user-select: none;

  @media screen and (max-width: 800px) {
    font-size: 0.76em;
  }

  @media screen and (max-width: 450px) {
    font-size: 0.55em;
  }
}

.form-bottom-redirect-link {
  color: $white-cream;
  font-size: 0.9em;
  font-weight: bold;
  user-select: none;

  &:hover {
    opacity: 0.7;
  }

  @media screen and (max-width: 800px) {
    font-size: 0.76em;
  }

  @media screen and (max-width: 450px) {
    font-size: 0.55em;
  }
}
