.alert-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(105, 105, 105);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 85%;
  left: 50%;
  width: 400px;
  gap: 25px;
  padding: 1em;
  transform: translate(-50%, -50%);
  z-index: 5;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.41);
}
.alert-container.access-denied-alert {
  top: 25%;
  background-color: rgba(255, 0, 0, 0.19);
}
@media screen and (max-width: 800px) {
  .alert-container {
    width: 50%;
    padding: 0.8em;
  }
}
@media screen and (max-width: 450px) {
  .alert-container {
    width: 60%;
    padding: 0.65em;
  }
}
@media screen and (max-width: 320px) {
  .alert-container {
    width: 65%;
    padding: 0.55em;
  }
}

.alert-text {
  font-size: 1.3rem;
  color: #f2f2f2;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 800px) {
  .alert-text {
    font-size: 1.05rem;
  }
}
@media screen and (max-width: 450px) {
  .alert-text {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 320px) {
  .alert-text {
    font-size: 0.75rem;
  }
}

.alert-button {
  padding: 10px 14px;
  background-color: rgba(255, 0, 0, 0.4);
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  font-size: 0.95em;
  font-weight: bold;
  text-decoration: none;
  color: #f2f2f2;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  cursor: pointer;
}
.alert-button:hover {
  background-color: rgba(255, 255, 255, 0.8);
  border-color: rgba(255, 0, 0, 0.7);
  color: rgba(255, 0, 0, 0.7);
}
@media screen and (max-width: 800px) {
  .alert-button {
    padding: 7px 9px;
    font-size: 0.8em;
  }
}
@media screen and (max-width: 450px) {
  .alert-button {
    padding: 6px 4px;
    font-size: 0.65em;
  }
}

.data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 830px;
  max-height: 80%;
  gap: 1.3em;
  margin-top: 50px;
  padding: 1.6em;
  overflow-y: auto;
  box-sizing: border-box;
  white-space: pre-line;
  background-color: #343434;
  border: 1px solid rgb(105, 105, 105);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 1235px) {
  .data-container {
    width: 75%;
    gap: 1.1em;
    padding: 1.3em;
  }
}
@media screen and (max-width: 800px) {
  .data-container {
    width: 85%;
    padding: 1.2em;
  }
}
@media screen and (max-width: 650px) {
  .data-container {
    width: 92%;
    gap: 0.8em;
    padding: 1em;
  }
}
@media screen and (max-width: 460px) {
  .data-container {
    width: 96%;
    gap: 0.6em;
  }
}

.top-navbar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #343434;
}
@media screen and (max-width: 1235px) {
  .top-navbar {
    padding: 7px;
  }
}
@media screen and (max-width: 420px) {
  .top-navbar {
    padding: 6px;
  }
}

.nav-item {
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 5px;
  background-color: rgb(105, 105, 105);
  color: #f2f2f2;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}
.nav-item.home-button {
  display: flex;
  justify-content: center;
  width: 27px;
  height: 27px;
  padding: 6px 13px;
}
.nav-item.home-button .home-icon {
  height: 100%;
  width: 100%;
  background-image: url("../../assets/pictures/home-icon.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1235px) {
  .nav-item {
    padding: 7.5px 8px;
    border-radius: 4px;
    font-size: 0.9em;
  }
  .nav-item.home-button {
    width: 22px;
    height: 22px;
    padding: 5px 13px;
  }
}
@media screen and (max-width: 750px) {
  .nav-item {
    margin: 0 3px;
  }
}
@media screen and (max-width: 420px) {
  .nav-item {
    padding: 5px 6px;
    margin: 0 1.5px;
    border-radius: 2.5px;
    font-size: 0.75em;
  }
  .nav-item.home-button {
    width: 18px;
    height: 18px;
    padding: 3.5px 6px;
  }
}
@media screen and (max-width: 315px) {
  .nav-item {
    padding: 4.5px 5.2px;
    margin: 0 1px;
    font-size: 0.67em;
  }
  .nav-item.home-button {
    padding: 2px 3.5px;
  }
}
.nav-item:hover {
  background-color: #232323;
  cursor: pointer;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-mid {
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: -1;
}
@media screen and (max-width: 950px) {
  .nav-mid {
    position: initial;
    display: flex;
    align-items: center;
    width: max-content;
  }
}

.nav-title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #f2f2f2;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
}
.nav-title.medium-title, .nav-title.short-title {
  display: none;
  visibility: hidden;
}
@media screen and (max-width: 1280px) {
  .nav-title {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 1100px) {
  .nav-title.long-title {
    display: none;
    visibility: hidden;
  }
  .nav-title.medium-title {
    display: block;
    visibility: visible;
  }
}
@media screen and (max-width: 750px) {
  .nav-title.medium-title {
    display: none;
    visibility: hidden;
  }
  .nav-title.short-title {
    display: block;
    visibility: visible;
  }
}
@media screen and (max-width: 650px) {
  .nav-title {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 350px) {
  .nav-title {
    font-size: 0.8rem;
  }
}

/*	This file serves to gather styles commonly used across all pages.
It is loaded on every page, along with the respective page-specific's style file. */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 98vh;
  cursor: url("../../../assets/pictures/sword-cursor.png"), default;
  user-select: none;
}
body ::-webkit-scrollbar {
  width: 15px;
}
body ::-webkit-scrollbar-track {
  border-radius: 20px;
  box-shadow: inset 0 0 5px grey;
}
body ::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: grey;
}
body ::-webkit-scrollbar-thumb:hover {
  background: rgb(105, 105, 105);
}

.hidden {
  display: none;
  visibility: hidden;
}

body {
  background-image: url("../../../assets/pictures/bg-flowers-field.jpg");
}

.data-container {
  line-height: 1.28;
}

.announcement-container {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(105, 105, 105);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 1em;
  gap: 20px;
  box-sizing: border-box;
  background-color: rgb(105, 105, 105);
}
@media screen and (max-width: 1235px) {
  .announcement-container {
    padding: 0.6em;
  }
}
@media screen and (max-width: 900px) {
  .announcement-container {
    text-align: center;
    gap: 15px;
  }
}
@media screen and (max-width: 510px) {
  .announcement-container {
    padding: 0.2em;
    gap: 11px;
  }
}

.announcement-title {
  margin: 0;
  margin-bottom: 3px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #f2f2f2;
}
@media screen and (max-width: 1235px) {
  .announcement-title {
    margin-bottom: 1px;
    font-size: 1rem;
  }
}
@media screen and (max-width: 510px) {
  .announcement-title {
    font-size: 0.75rem;
  }
}

.announcement-text {
  margin: 0;
  font-size: 1rem;
  color: #ccc;
}
.announcement-text.announcer-text {
  font-weight: bold;
}
@media screen and (max-width: 1235px) {
  .announcement-text {
    font-size: 0.85rem;
  }
}
@media screen and (max-width: 510px) {
  .announcement-text {
    font-size: 0.65rem;
  }
}

/*# sourceMappingURL=announcements.css.map */
