@import 'variables';
@import 'mixins';
@import 'keyframes';

body {
  @include body-primary-design;
}

.top-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  background-color: #383838;
}

.nav-item {
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 5px;
  background-color: dimgray;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.nav-item:hover {
  background-color: #383838;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-title {
  margin: 0;
  font-size: 1.5rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
}
