@import './abstracts/variables';
@import './components/alert';
@import './components/containers';
@import './layout/navbar';

/*	This file serves to gather styles commonly used across all pages.
It is loaded on every page, along with the respective page-specific's style file. */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-attachment: fixed;
  background-size: cover;
  cursor: url('../../../assets/pictures/sword-cursor.png'), default;
  height: 98vh;

  ::-webkit-scrollbar {
    width: 15px;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 20px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: grey;

    &:hover {
      background: $darker-greyish;
    }
  }
}

.hidden {
  display: none;
  visibility: hidden;
}
