@import 'core';

body {
  background-image: url('../../../assets/pictures/bg-flowers-field.jpg');
}

.announcement-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 1em;
  width: 100%;
  box-sizing: border-box;
  background-color: $darker-greyish;
  border: 2px solid $darker-greyish;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  @media screen and (max-width: 1235px) {
    padding: 0.6em;
  }

  @media screen and (max-width: 900px) {
    text-align: center;
    gap: 15px;
  }

  @media screen and (max-width: 510px) {
    padding: 0.2em;
    gap: 11px;
  }
}

.announcement-title {
  margin: 0;
  margin-bottom: 3px;
  color: $whitish;
  font-size: 1.2rem;
  font-weight: bold;

  @media screen and (max-width: 1235px) {
    margin-bottom: 1px;
    font-size: 1rem;
  }

  @media screen and (max-width: 510px) {
    font-size: 0.75rem;
  }
}

.announcement-text {
  margin: 0;
  color: #ccc;
  font-size: 1rem;

  &.announcer-text {
    font-weight: bolder;
  }

  @media screen and (max-width: 1235px) {
    font-size: 0.85rem;
  }

  @media screen and (max-width: 510px) {
    font-size: 0.65rem;
  }
}
