@import 'core';

.description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 53%;
  padding: 1em 2em;
  margin-bottom: 50px;
  background-color: rgba($on-hover-darker, 0.2);
  border: 1px solid $darker-greyish;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.inner-description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2em;
  background-color: rgba($dark-charcoal, 0.2);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.description-text {
  color: $whitish;
  text-align: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 1);
  font-size: 1.1rem;
}

h3 {
  &.description-text {
    font-weight: bold;
    font-size: 1.5rem;
  }
}
