@import 'core';

body {
  background-image: url('../../../assets/pictures/bg-sea-view.jpg');
}

.description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 110px;
  width: 920px;
  padding: 1.9em 2.2em;
  margin-bottom: 50px;
  border: 1px solid $darker-greyish;
  border-radius: 10px;
  background-color: $dark-charcoal;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  user-select: none;

  @media screen and (max-width: 1600px) {
    width: 880px;
    padding: 1.85em 2.1em;
  }

  @media screen and (max-width: 1235px) {
    width: 730px;
    padding: 1.75em 2em;
  }

  @media screen and (max-width: 1000px) {
    width: 600px;
    padding: 1.6em 1.8em;
  }

  @media screen and (max-width: 700px) {
    width: 450px;
    padding: 1.4em 1.6em;
  }
}

.inner-description-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  padding: 1em 2em;
  background-color: $darker-greyish;
  border: 2px solid $darker-greyish;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  @media screen and (max-width: 1600px) {
    gap: 40px;
  }

  @media screen and (max-width: 1235px) {
    gap: 30px;
  }

  @media screen and (max-width: 1000px) {
    padding: 0.8em 1.6em;
    gap: 20px;
  }

  @media screen and (max-width: 700px) {
    padding: 0.7em 1.4em;
    gap: 14px;
  }

  @media screen and (max-width: 460px) {
    padding: 0.4em 1em;
    gap: 10px;
  }
}

.description-paragraph {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.description-text {
  color: $whitish;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  margin: 0;

  &.description-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.35rem;
  }

  &.description-sub-title {
    font-weight: bold;
  }

  @media screen and (max-width: 1600px) {
    font-size: 1.2rem;
    &.description-title {
      font-size: 1.3rem;
    }
  }

  @media screen and (max-width: 1235px) {
    font-size: 1.15rem;
    &.description-title {
      font-size: 1.25rem;
    }
  }

  @media screen and (max-width: 1000px) {
    font-size: 1rem;
    &.description-title {
      font-size: 1.1rem;
    }
  }

  @media screen and (max-width: 700px) {
    font-size: 0.8rem;
    &.description-title {
      font-size: 0.9rem;
    }
  }

  @media screen and (max-width: 460px) {
    font-size: 0.7rem;
    &.description-title {
      font-size: 0.8rem;
    }
  }

  @media screen and (max-width: 300px) {
    font-size: 0.6rem;
    &.description-title {
      font-size: 0.7rem;
    }
  }
}
