@import 'core';

.description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 110px;
  width: 48%;
  padding: 1em 2em;
  margin-bottom: 50px;
  border: 1px solid $darker-greyish;
  border-radius: 10px;
  background-color: $dark-charcoal;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  user-select: none;
}

.inner-description-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  padding: 1em 2em;
  background-color: $darker-greyish;
  border: 2px solid $darker-greyish;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.description-paragraph {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.description-text {
  color: $whitish;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  margin: 0;

  &.description-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.35rem;
  }

  &.description-sub-title {
    font-weight: bold;
  }
}
