@import 'core';

body {
  background-image: url('../../assets/pictures/bg-forms.jpg');
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 5px 0 25px 0;
  border: 3px solid $dark-charcoal;
  border-radius: 5px;
  box-sizing: border-box;

  &:hover {
    opacity: 0.9;
  }
}

.input-label {
  font-size: 1.2em;
  color: $whitish;
  margin-bottom: 0;
  user-select: none;
}

.form-bottom-text {
  color: $whitish;
  font-weight: 500;
  font-size: 0.9em;
  padding: 0 8px;
  user-select: none;
}

.form-bottom-redirect-link {
  color: $whitish;
  font-size: 0.9em;
  font-weight: 900;
  user-select: none;

  &:hover {
    opacity: 0.7;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 600px;
  padding: 20px 80px;
  background-color: $dark-charcoal;
  border: 2px solid #444;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.form-bottom-text-wrapper {
  display: flex;
  justify-content: center;
  padding: 10px 8px;
}

.submit-button {
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  margin-top: 15px;
  padding: 14px 20px;
  width: 100%;
  color: $dark-charcoal;
  background-color: $whitish;
  border: 2px solid $dark-charcoal;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  user-select: none;
  cursor: pointer;

  &:hover {
    background-color: $on-hover-darker;
    color: $whitish;
  }
}
