@font-face {
    font-family: 100% 'RobotoSlab';
    src: url(../../../assets/fonts/RobotoSlab-VariableFont_wght.ttf);
}

@mixin body-primary-design {
    font-family: RobotoSlab;
    background-image: url('../../../assets/pictures/white-bg.jpg');
    background-size: 100%;
}

@mixin title {
    position: relative;
    text-align: center;
    font-size: 60px;
    height: 170px;
    max-height: 170px;
    margin-bottom: 50px;
    white-space: nowrap;
    overflow: hidden;
    color: white;
    letter-spacing: 6.5px;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    text-shadow: 0 2px 5px rgb(0, 0, 0);
    animation: orangeRotation 5s;
    animation-iteration-count: infinite;
}

@mixin orange-button-centered {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    cursor: pointer !important;
    padding: 14px 20px;
    width: 100%;
    color: $primary-color;
    background-color: white;
    border: 2px solid $primary-color;
    font-size: medium;
    &:hover {
        opacity: 0.5;
    }
}

@mixin button-link-tiny-top {
    position: relative;
    top: -130px;
    cursor: pointer !important;
    padding: 10px 20px;
    width: 138px;
    &:hover {
        opacity: 0.5;
    }
}

@mixin button-redirect-blue-design {
    color: blue;
    font-weight: lighter;
    background-color: white;
    border: 3px solid $secondary-color;
}

@mixin container-mini-link-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 630px;
    padding: 10px 8px;
}

@mixin medium-container-centered {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 650px;
    padding: 20px 80px 20px 80px;
    background-color: #ffffff08;
    border: 4px solid $secondary-color;
    border-radius: 10px;
    box-shadow: 0 3px 20px rgb(1, 1, 1);
}

@mixin input-line {
    width: 100%;
    padding: 12px 20px;
    margin: 5px 0 25px 0;
    border: 3px solid $secondary-color;
    box-sizing: border-box;
}

@mixin input-text {
    font: 100% Courier new, monospace;
    color: $primary-color;
    margin-bottom: 0;
}
