@font-face {
    font-family: 100% 'RobotoSlab';
    src: url(../../../assets/fonts/RobotoSlab-VariableFont_wght.ttf);
}

@mixin body-primary-design {
    font-family: RobotoSlab;
    background-image: url('../../../assets/pictures/war.jpg');
    background-size: 100%;
    display: flex;
    justify-content: center;
}

@mixin title-container {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 80px;
}

@mixin title {
    font-size: $title-font-size;
    color: $title-color;
    -webkit-text-stroke: black 0.5px;
    text-shadow: white 0 0 7px;
}

@mixin main-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    height: 860px;
}

@mixin submit-button {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    cursor: pointer !important;
    padding: 14px 20px;
    width: 100%;
    color: $primary-color;
    background-color: white;
    border: 2px solid $primary-color;
    font-size: medium;
    &:hover {
        opacity: 0.5;
    }
}

@mixin redirect-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 630px;
    padding: 10px 8px;
}

@mixin form-container {
    display: flex;
    flex-direction: column;
    padding: 20px 80px 20px 80px;
    background-color: #ffffff50;
    border: 2px solid $primary-color;
    border-radius: 10px;
}

@mixin input-line {
    width: 100%;
    padding: 12px 20px;
    margin: 5px 0 25px 0;
    border: 3px solid $secondary-color;
    box-sizing: border-box;
}

@mixin input-text {
    font: $input-font;
    font-size: 1.3em;
    font-weight: 900;
    color: black;
    -webkit-text-stroke: white 0.1px;
    margin-bottom: 0;
}
