@import '../sass-tools/mixins.scss';
@import '../sass-tools/variables.scss';

body {
    @include body-primary-design;
}

.main-content-wrapper {
    @include main-content-wrapper;
}

.title-container {
    @include title-container;
}

#title {
    @include title;
}

input {
    @include input-line;
    &:hover {
        opacity: 0.7;
    }
}

.input-label {
    @include input-text;
}

.redirect-label {
    color: white;
    font-weight: 500;
    padding: 0 8px;
}

.redirect-button {
    color: rgb(8, 0, 255);
    font-weight: 900;
    &:hover {
        opacity: 0.5;
    }
}

.form-container {
    @include form-container;
}

.redirect-container {
    @include redirect-container;
}

.submit-button {
    @include submit-button;
}
