@import '../sass-tools/mixins.scss';
@import '../sass-tools/variables.scss';

body {
    @include body-primary-design;
}

.main-content-wrapper {
    @include main-content-wrapper;
}

.title-container {
    @include title-container;
}

#title {
    @include title;
}

.sub-title {
    font-size: 1.5em;
    text-align: center;
    color: $primary-color;
    font-weight: bolder;
    -webkit-text-stroke: black 0.1px;
}

.form-container {
    @include form-container;
    align-items: center;
    height: 220px;
}

.submit {
    @include submit-button;
    margin-top: 20px;
    width: 50%;
}
