.submitButton {
    @include button-centered;
    @include button-orange-design;
}

.topRedirectButton {
    @include button-link-tiny-top;
    @include button-redirect-blue-design;
    border: 1px solid $primary-color;
    font-size: 16px;
    background: inherit;
    width: 136.5px;
    top: -203px;
}
